// Colors
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$border: 1px solid rgba(168,168,168,.5);

$border-dark: 1px solid #aaa;

$border-very-dark:  1px solid #303030;

$silver: #ebf0f4;


$color-grey-light: #a8a8a8;
$color-grey-dark: #333;
$color-grey-very-dark: #111;
$color-grey-medium: #aaa;

$white: #fff;
$black: #000;
