.splash {
  font-size: 1.4rem;
  letter-spacing: 0.15rem;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: $silver;
  border-bottom:  $border;
  line-height: 3.4;
  &__email,
  &__phone {
    display: inline-block;
  }
}

@media screen and (max-width: 700px) {
  .splash {
    line-height: 2;
    &__email,
    &__phone {
      display:block;
    }
  }
}
