<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Charm Accessories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <style>
      .form {
        max-width: 300px;
        margin: 0 auto;
        font-size: 16px;
      }

      .form input {
        width: 100%;
        margin-bottom: 16px;
        padding: 5px;
      }

      .form button {
        padding: 5px;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      .dd {
        font-size: 18px;
      }
      .dd input {
        padding: 5px;
      }
      .dd span {
        border: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
      }

      .dd ul {
        list-style-type: none;
      }

    </style>
  </head>
  <body>
    <div id="root">..loading</div>

    <script type="text/javascript" src="/javascripts/app.bundle.js"></script>

</body>
</html>
