<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Charm Accessories</title>
    <style>
      div {
        margin: 0 auto;
        max-width: 300px;
        font-family: sans-serif;
        font-size: 16px;
      }
      input {
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
      }
    </style>
  </head>
  <body>

    <div>
      <form action="/api/users/login" method="post">
        Name: <input type="text" name="name"><br>
        Password: <input type="password" name="password"><br>
        <button type="submit">Submit</button>
      </form>
    </div>

  </body>
</html>
