
.menu-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #595959;
  text-transform: uppercase;
}
.menu-line {
  width: 17rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: $border;
}

@media screen and (max-width: 770px) {
  .menu-line {
    width: 100%;
  }
}
