.table {
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    text-align: left;
}

.table__th {
  padding: 0;
  line-height: 1;
  color: #595959;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 13px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.table__tr {
  border-bottom: 1px solid #ddd;
}
.table__td {
  padding-bottom: 15px;
  padding-top: 15px;
}

.table__btn {
  font-size: 2.4rem;
  padding-bottom: 10px;
  padding-top: 10px;
  color: $color-grey-medium;
  &:hover {
    cursor: pointer;
    color: $color-grey-dark;
  }
}
