

.table {
  &__head {}
  &__h {
    margin: 10px 0;
    line-height: 1;
    font-size: 12px;
    color: #595959;
    font-weight: 700;
    &--center {
      text-align: center;
    }
  }
  &__d {
    margin: 30px 0;
    &--center {
      text-align: center;
    }
  }
  &__r { border-bottom: $border; }
  &__foot {
    text-align: right;
    margin: 35px 0;
    &-subtotal {
      font-weight: 400;
      font-size: 20px;
      line-height: 1;
      color: #303030;
      margin: 0;
      text-transform: uppercase;
    }
    &-shipping {
      margin: 8px 0;
      font-size: 14px;
      color: #303030;
      font-weight: 400;
    }
  }
}

.table__divider {
  border-bottom: $border;
  height: 2px;
}


.cart {
  &__empty {
    padding-top: 80px;
    padding-bottom: 80px;
    & h3 {
      line-height: 1.5;
      margin: 0;
      font-size: 18px;
      color: #303030;
      font-weight: normal;
      text-align: center;
    }
    & h3 a:hover {
      cursor: pointer;
      color: #777;
    }
  }
  &__item {
    position: relative;
    font-weight: 400;
    color: #303030;
    &-name {
      font-size: 20px;
      margin: 0;
      margin-bottom: 12px;
      line-height: 1;
      text-transform: uppercase;
    }
    &-sku,
    &-price {
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
    }
    &-price--big { font-size: 20px; }
    &-delete {
      display: block;
      font-size: 12px;
      text-decoration: underline;
      color: #595959;
      margin-top: 70px;
      &:hover {
        cursor: pointer;
      }
      &-mobile {
        display: none;
      }
    }
  }
}

.table__spinner,
.table__price {
  text-align: center;
}



/* <--- CART TABLE RESPONSIVE ---> */
@media screen and (max-width: 770px) {

    .cart__clear-fix {
      clear: both;
      display: block;
    }

    .table__d {
      margin: 20px 0;
    }

    .table__spinner {
      text-align: left;
    }
    .table__price {
      text-align: right;
    }

    .table__spinner,
    .table__price {
      margin-top: 0;
    }

    .cart__item-name {
        font-weight: normal;
        font-size: 13px;
        line-height: 1;
        color: #111;
        font-family: 'Raleway', sans-serif;
        margin: 0;
        margin-bottom: 12px;
        text-transform: uppercase;
    }
    .cart__item-sku {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 13px;
        color: #777;
        font-weight: normal;
        line-height: 1;
    }
    .cart__item-price {
        font-weight: normal;
        font-size: 13px;
        line-height: 1;
        color: #777;
        font-family: 'Raleway', sans-serif;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .cart__item-price--big {
      text-align: right;
      font-size: 13px;
      font-weight: 400;
      color: #111;
    }
    .table__head {
      display: none;
    }

    .cart__item-delete {
      display: none;
    }

    .cart__item-delete-mobile {
      display: inline-block;
      font-size: 12px;
      padding: 3px 6px;
      border: 1px solid #aaa;
      position: absolute;
      right: 0;
      top: 0;
    }

    .cart__item-delete-mobile:hover {
      cursor: pointer;
      color: #777;
      border-color: #ccc;
    }
}
